.search-component {
	display: flex;
	min-width: 30%;
	box-shadow: 0 0 5px 5px #DDDDDD;
	padding: 0 2em 2em 2em;
	margin-left: auto;
	margin-right: auto;
	align-self: center;

	@media only screen and (max-width: 1200px) {
		min-width: 40%;
	}
	@media only screen and (max-width: 768px) {
		min-width: 60%;
	}
	@media only screen and (max-width: 480px) {
		min-width: 80%;
	}

	.search-box {
		display: flex;
		flex-direction: column;
		min-width: 100%;

		.search-text {
			margin-bottom: 1em;
		}

		.search-select {
			margin-bottom: 1em;
			padding: 0.5em;
			border: 1px solid silver;
			border-radius: 3px;
		}

		.search-results {
			margin-top: 2em;
			border: 1px solid #DDDDDD;
			padding: 0 1em;
			border-radius: 5px;

			.result-message {
				color: red;
			}

			.result-numbers {
				text-align: center;
				font-weight: bold;
				font-size: 2em;
			}
		}
	}
}