$def-bgcolor: #ffffff;
$def-fgcolor: #000000;

$site-header-bgcolor: #ffffff;
$site-header-fgcolor: rgb(37, 37, 37);

$site-navbar-links-fgcolor: rgb(37, 37, 37);
$site-navbar-links-fgcolor-hover: #17cfb8;

$site-footer-bgcolor: #323232;
$site-footer-fgcolor: #ffffff;

$site-footer-links-fgcolor: #ffffff;
$site-footer-links-fgcolor-hover: #17cfb8;
