@import "shared/scss/shared.scss";

.app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
}

.site-header {
	width: 100%;
	z-index: 1100;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: $site-header-bgcolor;
	color: $site-header-fgcolor;
	min-height: 70px;
	-moz-box-shadow: 0.2em 0 0.2em 0 #ccc;
	-webkit-box-shadow: 0.2em 0 0.2em 0 #ccc;
	box-shadow: 0.2em 0 0.2em 0 #ccc;

	.site-logo {
		max-width: 20em;
		flex-grow: 0;
		margin-left: 2em;
		display: flex;
		align-items: center;

		h1 {
			margin-right: 0.5em;
		}
	}

	.site-navbar {
		margin-right: 2em;
		display: flex;
		flex-shrink: 1;

		ul {
			list-style: none;

			a {
				color: $site-navbar-links-fgcolor;
				text-decoration: none;
				font-weight: 500;
				margin-left: 1em;
				-webkit-transition: color 0.5s ease-out;
				-moz-transition: color 0.5s ease-out;
				transition: color 0.5s ease-out;

				&:active,
				&:hover {
					color: $site-navbar-links-fgcolor-hover;
					text-decoration: none;
				}
			}
		}
	}
}

.site-content {
	min-height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	padding: 0.5em;
	display: flex;
}

.site-footer {
	background-color: $site-footer-bgcolor;
	color: $site-footer-fgcolor;
	min-height: 70px;
	width: 100%;
	z-index: 1100;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	-moz-box-shadow: 0 -0.2em 0.2em 0 #ccc;
	-webkit-box-shadow: 0 -0.2em 0.2em 0 #ccc;
	box-shadow: 0 -0.2em 0.2em 0 #ccc;

	.copyright {
		max-width: 10em;
		flex-grow: 0;
		margin-left: 2em;
	}

	.site-footer-links {
		margin-right: 2em;
		display: flex;
		flex-shrink: 1;

		a {
			color: $site-footer-links-fgcolor;
			text-decoration: none;
			font-weight: 500;
			margin-left: 2em;
			-webkit-transition: color 0.5s ease-out;
			-moz-transition: color 0.5s ease-out;
			transition: color 0.5s ease-out;

			&:active,
			&:hover {
				color: $site-footer-links-fgcolor-hover;
				text-decoration: none;
			}
		}
	}
}