@import "shared/scss/shared.scss";

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: $def-bgcolor;
    color: $def-fgcolor;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

#root {
	min-height: 100%;
    display: flex;
    flex-direction: column;
}